<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">

    <link href="assets/css/bootstrap.min.css" media="screen" rel="stylesheet"
          type="text/css">
    <link href="assets/css/jquery-ui-1.10.2.custom.min.css" media="screen"
          rel="stylesheet" type="text/css">
    <link href="assets/css/stream.css" media="screen" rel="stylesheet"
          type="text/css">
    <script src="assets/js/jquery-1.11.1.min.js"
            type="text/javascript"></script>
    <script src="assets/js/jquery-ui-1.10.2.custom.min.js"
            type="text/javascript"></script>
    <script src="assets/js/filter.js" type="text/javascript"></script>
    <script src="assets/js/kznh-filter.js" type="text/javascript"></script>
    <link href="assets/css/style.css" rel="stylesheet" type="text/css">

    <title>Kościoł Zielonoświątkowy</title>

</head>
<body>
<div id="space"><br></div>
<div id="container">

<div id="wb_Image7">
    <!--<img src="assets/images/img0126.jpg" id="Image7" alt="" style="width:1001px;height:auto; filter:alpha(opacity=50);-moz-opacity:0.50;opacity:0.50;">-->

    <div class="kznh-search">
        <h1 class="title">Wszystkie nagrania</h1>

        <div class="sidebar col-span-3">
            <div class="criteria" id="runtime_criteria">
                <h4>Mówcy</h4>
                <select id="mowcy" class="col-span-10">
                    <option value="all">Wszyscy</option>
                </select>
            </div>

            <div class="criteria" id="year_criteria">
                <h4>Rok</h4>
                <select id="year_filter" class="col-span-10">
                    <option value="all">Wszystkie (1999 - 2015)</option>
                    <option value="1999-1999">1999 rok</option>
                    <option value="2000-2000">2000 rok</option>
                    <option value="2001-2001">2001 rok</option>
                    <option value="2002-2002">2002 rok</option>
                    <option value="2003-2003">2003 rok</option>
                    <option value="2004-2004">2004 rok</option>
                    <option value="2005-2005">2005 rok</option>
                    <option value="2006-2006">2006 rok</option>
                    <option value="2007-2007">2007 rok</option>
                    <option value="2008-2008">2008 rok</option>
                    <option value="2009-2009">2009 rok</option>
                    <option value="2010-2010">2010 rok</option>
                    <option value="2011-2011">2011 rok</option>
                    <option value="2012-2012">2012 rok</option>
                    <option value="2013-2013">2013 rok</option>
                    <option value="2014-2014">2014 rok</option>
                    <option value="2015-2015">2015 rok</option>
                </select>
            </div>
        </div>
        <div class="sidebar col-span-9">
            <div class="row">
                <h4 class="col-span-6"> Nagrania (<span id="total_movies">0</span>)
                </h4>
            </div>
            <div>
                <input type="text" id="searchbox" placeholder="Szukaj...">
                <span class="glyphicon glyphicon-search search-icon"></span>
            </div>
            <div class="sorting content col-span-12">
            </div>
            <div class="movies content col-span-12" id="movies">
            </div>

            <script id="movie-template" type="text/html">
                <div class="col-span-12 movie">

                    <table class="nagrania-kznh" border="1"  bordercolorlight="#C1CFDC" bordercolordark="#C1CFDC" height="84"  align="center">
                        <tr>
                            <td align="center" height="15" width="500"><b>NAGRANIE</b></td>
                            <td align="center" height="15"  width="50"><b>POBIERZ</b></td>
                        </tr>

                        <tr class="kazania_pastor">
                            <td width="500" height="69">
                                <div class="caption">
                                    <h4><%= title %></h4>
                                </div>

                            <span class="runtime">
                                <i class="glyphicon glyphicon-time"></i>
                                <%= lenght %>
                            </span>

                                <div class="detail">
                                    <b style="font-size: 11px;"> <%= artist %> </b>
                                </div>
                                <br>
                            </td>
                            <td class="pobierz" width="50" height="69"><a href="<%= webdirectory %>"> <img border="0" src="assets/images/Floppy.gif" width="22" height="22" alt="Pobierz nagranie"></a></td>
                        </tr>

                        <tr class="kazania_pastor">
                            <td colspan="2" height="44">
                                <input type="image" value="<%= webdirectory %>" onclick="showPlayPanel(this)" id="imageplay" style="height:40px; z-index: 50" src="assets/images/play.png" />
                            </td>
                        </tr>
                    </table>
                </div>
            </script>

        </div>
    </div>
</div>
<div id="wb_Image2"
     style="position:absolute;left:156px;top:1px;width:87px;height:105px;z-index:5;">
    <img src="assets/images/logo.png" id="Image2" alt=""
         style="width:87px;height:105px;"></div>
<div id="wb_Text13"
     style="position:absolute;left:242px;top:33px;width:613px;height:29px;z-index:6;text-align:left;">
    <span style="color:#FFFFFF;font-family:Verdana;font-size:24px;">Kościół Zielonoświątkowy Zbór Kraków Nowa Huta</span>
</div>
<div id="wb_Shape1"
     style="position:absolute;left:140px;top:95px;width:1000px;height:18px;z-index:7;">
    <img src="assets/images/img0133.png" id="Shape1" alt=""
         style="border-width:0;width:1000px;height:18px;"></div>
<div id="wb_Shape2"
     style="position:absolute;left:873px;top:0px;width:18px;height:1799px;z-index:8;">
    <img src="assets/images/img0134.png" id="Shape2" alt=""
         style="border-width:0;width:18px;height:1799px;"></div>

<a href="http://kznh.pl/index.html"><img src="assets/images/img0260.jpg"
                                         id="Banner1" alt="STRONA GŁÓWNA"
                                         style="position:absolute;left:917px;top:139px;width:197px;height:29px;border-width:0;z-index:13;"></a>
<a href="http://kznh.pl/onas.html"><img src="assets/images/img0261.jpg"
                                        id="Banner2" alt="O NAS"
                                        style="position:absolute;left:917px;top:174px;width:197px;height:29px;border-width:0;z-index:14;"></a>
<a href="http://kznh.pl/aktualnosci.html"><img
        src="assets/images/img0262.jpg" id="Banner3" alt="AKTUALNOŚCI"
        style="position:absolute;left:917px;top:209px;width:197px;height:29px;border-width:0;z-index:15;"></a>
<a href="http://kznh.pl/kalendarz.html"><img src="assets/images/img0263.jpg"
                                             id="Banner4" alt="PLAN SPOTKAŃ"
                                             style="position:absolute;left:917px;top:245px;width:197px;height:29px;border-width:0;z-index:16;"></a>
<a href="http://kznh.pl/multimedia.html"><img
        src="assets/images/img0264.jpg" id="Banner5" alt="MEDIA"
        style="position:absolute;left:917px;top:280px;width:197px;height:29px;border-width:0;z-index:17;"></a>
<a href="http://kznh.pl/naszedzialania.html"><img
        src="assets/images/img0265.jpg" id="Banner6" alt="NASZE SŁUŻBY"
        style="position:absolute;left:917px;top:316px;width:197px;height:29px;border-width:0;z-index:18;"></a>
<a href="http://kznh.pl/linki.html"><img src="assets/images/img0266.jpg"
                                         id="Banner7" alt="WARTO ZAGLĄDAĆ"
                                         style="position:absolute;left:917px;top:353px;width:197px;height:29px;border-width:0;z-index:19;"></a>
<a href="javascript:history.back()"><img src="assets/images/img0267.jpg"
                                         id="Banner8" alt="WRÓĆ"
                                         style="position:absolute;left:917px;top:386px;width:197px;height:29px;border-width:0;z-index:20;"></a>

<div id="RollOver4"
     style="position:absolute;overflow:hidden;left:917px;top:442px;width:197px;height:191px;z-index:24">
    <a href="mailto:kznh@kznh.pl">
        <img class="hover" alt="" src="assets/images/email200.jpg"
             style="left:0px;top:0px;width:197px;height:191px;">
            <span><img alt="" src="assets/images/email200.jpg"
                       style="left:0px;top:0px;width:197px;height:191px"></span>
    </a>
</div>

<div id="wb_Text5"
     style="position:absolute;left:924px;top:638px;width:178px;height:39px;text-align:center;z-index:25;">
    <span style="color:#FFFFFF;font-family:Verdana;font-size:19px;">Zapytaj</span><span
        style="color:#000000;font-family:Arial;font-size:24px;"><br></span>
</div>


</div>

</body>
</html>